#pageWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

#instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 48px;
    margin-top: 48px;
}

button {
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    border-width: thick;
    border-color: #808080;
    width: 10rem;
}

#buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#paper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#outcomeOfMatch {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding-left: .5rem;
    padding-right: .5rem;
    color: white;
    width: 12rem;
    border-radius: 5px;
}

#computerMoveDetails {
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 0px;
}